# Data Extraction

In [5]:
#Import dependencies
import pandas as pd
import requests
import json
import os
import numpy as np
import re

In [2]:
#Extract and view data from CSV
walmart_marketShare = pd.read_csv('Resources/Walmart_MarketShare_data.csv')
walmart_marketShare.head()

       CITY   STATE  POPULATION MARKET_SHARE
0  Atchison    Kan.       16580          95%
1  Portales    N.M.       19730          95%
2  Sterling   Colo.       22068          91%
3    Deming    N.M.       24699          90%
4    Guymon    Ohio       21385          90%

In [3]:
#Extract and view data from JSON

#1.Specify url
url = "https://gist.githubusercontent.com/anonymous/83803696b0e3430a52f1/raw/29f2b252981659dfa6ad51922c8155e66ac261b2/walmart.json"

#2. Get and print response
walmart_locations = pd.DataFrame(requests.get(url).json())
walmart_locations.head()

,id,storeType,timeZone,openDate,name,postalCode,address1,city,state,country,latitude,longitude,phone_number
0,6601,3,K,01/04/1994 12:00,Sam's Club,99515,8801 Old Seward Hwy,Anchorage,AK,US,61.140770,-149.860016,(907) 522-2333
1,6602,3,K,01/06/1994 12:00,Sam's Club,99504,1074 N. Muldoon Road,Anchorage,AK,US,61.231079,-149.740844,(907) 276-2996
2,2074,1,K,03/29/1994 12:00,Walmart Supercenter,99654,1350 S Seward Meridian Pkwy,Wasilla,AK,US,61.568752,-149.363647,(907) 376-9780
3,2070,1,K,03/29/1994 12:00,Walmart Supercenter,99503,3101 A St,Anchorage,AK,US,61.192337,-149.880356,(907) 563-5900
4,6603,3,K,01/08/1994 12:00,Sam's Club,99701,48 College Rd,Fairbanks,AK,US,64.852867,-147.707336,(907) 451-4800

# Data Transformation

CSV Data Cleaning

In [4]:
#Determine datatypes
walmart_marketShare.dtypes

CITY            object
STATE           object
POPULATION       int64
MARKET_SHARE    object
dtype: object

In [12]:
#Remove '%' from 'MARKET_SHARE' 
walmart_marketShare['MARKET_SHARE'] = walmart_marketShare['MARKET_SHARE'].str.replace('%','')
#walmart_marketShare.head()

#Convert from object to int
walmart_marketShare = walmart_marketShare.astype({"MARKET_SHARE": int})
walmart_marketShare.dtypes

CITY            object
STATE           object
POPULATION       int64
MARKET_SHARE     int32
dtype: object

In [ ]:
#Replace 'STATE' values with two-letter state codes
walmart_marketShare['STATE'] = walmart_marketShare['STATE'].str.replace()

In [7]:
print(df1.columns)

Index(['id', 'storeType', 'timeZone', 'openDate', 'name', 'postalCode',
       'address1', 'city', 'state', 'country', 'latitude', 'longitude',
       'phone_number'],
      dtype='object')

In [17]:
df1.columns = ['ID', 'STORE_TYPE', 'TIMEZONE', 'OPEN_DATE', 'NAME', 'POSTAL_CODE', 'ADDRESS1', 'CITY', 'STATE', 'COUNTRY', 'LATITUDE', 'LONGITUDE','PHONE_NUMBER']

In [18]:
df1

,ID,STORE_TYPE,TIMEZONE,OPEN_DATE,NAME,POSTAL_CODE,ADDRESS1,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE,PHONE_NUMBER
0,6601,3,K,01/04/1994 12:00,Sam's Club,99515,8801 Old Seward Hwy,Anchorage,AK,US,61.140770,-149.860016,(907) 522-2333
1,6602,3,K,01/06/1994 12:00,Sam's Club,99504,1074 N. Muldoon Road,Anchorage,AK,US,61.231079,-149.740844,(907) 276-2996
2,2074,1,K,03/29/1994 12:00,Walmart Supercenter,99654,1350 S Seward Meridian Pkwy,Wasilla,AK,US,61.568752,-149.363647,(907) 376-9780
3,2070,1,K,03/29/1994 12:00,Walmart Supercenter,99503,3101 A St,Anchorage,AK,US,61.192337,-149.880356,(907) 563-5900
4,6603,3,K,01/08/1994 12:00,Sam's Club,99701,48 College Rd,Fairbanks,AK,US,64.852867,-147.707336,(907) 451-4800
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5816,1485,1,MST,01/30/1991 12:00,Walmart Supercenter,82718,2300 S Douglas Hwy,Gillette,WY,US,44.273472,-105.494208,(307) 686-4060
5817,1457,1,MST,06/27/1990 12:00,Walmart Supercenter,82501,1733 N Federal Blvd,Riverton,WY,US,43.042599,-108.379036,(307) 856-3261
5818,1778,1,MST,04/01/1992 12:00,Walmart Supercenter,82414,321 Yellowstone Ave,Cody,WY,US,44.517460,-109.089333,(307) 527-4673
5819,6430,3,MST,02/25/1993 12:00,Sam's Club,82009,1948 Dell Range Blvd,Cheyenne,WY,US,41.162819,-104.793297,(307) 637-3771
5820,1617,1,MST,12/31/1991 12:00,Walmart Supercenter,82609,4400 E 2Nd St,Casper,WY,US,42.849002,-106.269392,(307) 237-0991

In [37]:
#view csv content
df2 = pd.read_csv('Resources/Walmart_MarketShare_data.csv')
df2

            CITY    STATE  POPULATION MARKET_SHARE
0       Atchison     Kan.       16580          95%
1       Portales     N.M.       19730          95%
2       Sterling    Colo.       22068          91%
3         Deming     N.M.       24699          90%
4         Guymon     Ohio       21385          90%
..           ...      ...         ...          ...
198    Maysville      Ky.       17230          50%
199         Enid    Okla.       62602          50%
200      Shawnee    Okla.       71961          50%
201         Troy     Ala.       33368          50%
202  Fort Morgan   Colo.        28721          50%

[203 rows x 4 columns]

Clean "POPULATION" column, integer dtype.

In [20]:
df2.iloc[:, 1]

0         Kan.
1         N.M.
2        Colo.
3         N.M.
4         Ohio
        ...
198        Ky.
199      Okla.
200      Okla.
201       Ala.
202     Colo.
Name: STATE, Length: 203, dtype: object

In [31]:
print(df2.columns)

Index(['CITY', 'STATE', 'POPULATION', 'MARKET_SHARE'], dtype='object')

In [38]:
df2.dtypes

CITY            object
STATE           object
POPULATION       int64
MARKET_SHARE    object
dtype: object

In [21]:
#replace "STATE" with two-letter code

In [40]:
merged_df = pd.merge(df1, df2, on='CITY')
merged_df

,ID,STORE_TYPE,TIMEZONE,OPEN_DATE,NAME,POSTAL_CODE,ADDRESS1,CITY,STATE_x,COUNTRY,LATITUDE,LONGITUDE,PHONE_NUMBER,STATE_y,POPULATION,MARKET_SHARE
0,763,1,CST,11/13/1984 12:00,Walmart Supercenter,35064,7201 Aaron Aronov Dr,Fairfield,AL,US,33.466076,-86.914950,(205) 923-4423,Iowa,17222,55%
1,2048,1,PST,10/19/1993 12:00,Walmart Supercenter,94533,2701 N Texas St,Fairfield,CA,US,38.278168,-122.034253,(707) 428-4792,Iowa,17222,55%
2,95494,8,PST,NaN,FedEx Office,94534,1510 Oliver Rd,Fairfield,CA,US,38.258873,-122.068016,(707) 421-8200,Iowa,17222,55%
3,90326,8,EST,NaN,FedEx Office,06824,1427 Post Rd,Fairfield,CT,US,41.141223,-73.256705,(203) 319-0500,Iowa,17222,55%
4,985,1,CST,11/11/1986 12:00,Walmart Supercenter,52556,2701 W Burlington Ave,Fairfield,IA,US,41.006417,-91.994405,(641) 472-6858,Iowa,17222,55%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,3778,1,MST,08/30/2006 12:00,Walmart Supercenter,82604,4255 Cy Ave,Casper,WY,US,42.818457,-106.376263,(307) 232-9593,Wyo.,83011,51%
561,1617,1,MST,12/31/1991 12:00,Walmart Supercenter,82609,4400 E 2Nd St,Casper,WY,US,42.849002,-106.269392,(307) 237-0991,Wyo.,83011,51%
562,1412,1,MST,04/02/1990 12:00,Walmart Supercenter,82070,4308 E Grand Ave,Laramie,WY,US,41.304283,-105.539757,(307) 745-6100,Wy,37950,53%
563,1315,1,MST,12/30/1989 12:00,Walmart Supercenter,82009,2032 Dell Range Blvd,Cheyenne,WY,US,41.164219,-104.791122,(307) 632-4330,Wyo.,98078,52%
564,6430,3,MST,02/25/1993 12:00,Sam's Club,82009,1948 Dell Range Blvd,Cheyenne,WY,US,41.162819,-104.793297,(307) 637-3771,Wyo.,98078,52%

In [25]:
rem_duplicates = merged_df.drop_duplicates()
rem_duplicates

,ID,STORE_TYPE,TIMEZONE,OPEN_DATE,NAME,POSTAL_CODE,ADDRESS1,CITY,STATE_x,COUNTRY,LATITUDE,LONGITUDE,PHONE_NUMBER,STATE_y,POPULATION,MARKET_SHARE
0,763,1,CST,11/13/1984 12:00,Walmart Supercenter,35064,7201 Aaron Aronov Dr,Fairfield,AL,US,33.466076,-86.914950,(205) 923-4423,Iowa,"1 7,222",55%
1,2048,1,PST,10/19/1993 12:00,Walmart Supercenter,94533,2701 N Texas St,Fairfield,CA,US,38.278168,-122.034253,(707) 428-4792,Iowa,"1 7,222",55%
2,95494,8,PST,NaN,FedEx Office,94534,1510 Oliver Rd,Fairfield,CA,US,38.258873,-122.068016,(707) 421-8200,Iowa,"1 7,222",55%
3,90326,8,EST,NaN,FedEx Office,06824,1427 Post Rd,Fairfield,CT,US,41.141223,-73.256705,(203) 319-0500,Iowa,"1 7,222",55%
4,985,1,CST,11/11/1986 12:00,Walmart Supercenter,52556,2701 W Burlington Ave,Fairfield,IA,US,41.006417,-91.994405,(641) 472-6858,Iowa,"1 7,222",55%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,3778,1,MST,08/30/2006 12:00,Walmart Supercenter,82604,4255 Cy Ave,Casper,WY,US,42.818457,-106.376263,(307) 232-9593,Wyo.,83011,51%
561,1617,1,MST,12/31/1991 12:00,Walmart Supercenter,82609,4400 E 2Nd St,Casper,WY,US,42.849002,-106.269392,(307) 237-0991,Wyo.,83011,51%
562,1412,1,MST,04/02/1990 12:00,Walmart Supercenter,82070,4308 E Grand Ave,Laramie,WY,US,41.304283,-105.539757,(307) 745-6100,Wy,37950,53%
563,1315,1,MST,12/30/1989 12:00,Walmart Supercenter,82009,2032 Dell Range Blvd,Cheyenne,WY,US,41.164219,-104.791122,(307) 632-4330,Wyo.,98078,52%
564,6430,3,MST,02/25/1993 12:00,Sam's Club,82009,1948 Dell Range Blvd,Cheyenne,WY,US,41.162819,-104.793297,(307) 637-3771,Wyo.,98078,52%

Summary tables/groupby tables per state

In [39]:
state = merged_df.groupby('STATE_x')
state

                   ID  STORE_TYPE   LATITUDE   LONGITUDE
STATE_x
AL         570.250000    1.000000  33.650685  -86.510768
AR        1549.566667    1.700000  35.040832  -92.737214
AZ        4336.500000    1.500000  32.681500 -114.585453
CA       27533.272727    3.454545  37.894566 -121.360339
CO        3121.000000    1.333333  39.378031 -104.744898
CT       90305.500000    8.000000  41.429044  -73.009777
DE        5039.000000    1.000000  39.102145  -75.544077
FL       24398.117647    3.196078  28.683596  -81.195438
GA        2599.125000    1.375000  32.918659  -84.032264
IA        2472.166667    1.500000  41.571542  -92.989130
ID        2660.500000    1.250000  43.385596 -115.193217
IL        8589.466667    1.733333  40.371556  -88.947199
IN        2580.300000    1.400000  39.487036  -86.103490
KS        1819.416667    1.500000  38.300972  -97.412328
KY        2706.214286    1.642857  38.061893  -84.705520
LA        2681.857143    1.428571  31.660707  -92.282787
MA       61047.000000    5.666667  42.291815  -71.574627
MD        2272.000000    1.000000  38.554408  -76.053632
ME        2310.666667    1.333333  44.420979  -69.949305
MI       47122.000000    4.666667  42.626608  -83.469320
MN        2086.285714    1.000000  44.954054  -94.904718
MO        1886.764706    1.705882  37.948974  -92.765761
MS        1728.117647    1.352941  32.881274  -89.457015
MT        4417.000000    2.000000  47.521133 -111.308483
NC        3446.545455    1.545455  35.057818  -78.116634
ND        3438.000000    1.555556  47.136637  -99.081748
NE        2320.571429    1.285714  41.018529  -98.941481
NJ       91232.000000    8.000000  40.687191  -74.314380
NM        3064.000000    1.500000  33.985423 -106.311778
NV        3982.321429    2.285714  36.434379 -115.399158
NY       16374.142857    2.714286  42.582900  -75.443450
OH       28264.000000    3.250000  39.869630  -83.168009
OK        2587.521739    2.021739  35.614867  -97.192841
OR        3064.000000    2.000000  44.215558 -122.976686
PA       32720.000000    3.666667  40.143162  -76.966202
SC        1771.500000    1.125000  33.725028  -80.644391
SD        2290.750000    1.000000  43.974394  -98.565240
TN        1357.636364    1.090909  35.963861  -85.939581
TX        2500.106383    1.510638  32.885911  -97.844655
UT        3543.333333    1.666667  41.301992 -111.080023
VA       32828.809524    3.809524  38.334902  -78.118667
WA        3846.333333    1.000000  46.366915 -121.687469
WI        1525.200000    1.000000  43.639436  -89.869757
WV        2982.428571    1.285714  39.130414  -80.371439
WY        3204.714286    1.571429  41.916218 -106.427290