In [301]:
import pandas as pd
from datetime import datetime as dt

In [343]:
wmt = "WMT.csv"
amz = "AMZN.csv"
tgt = "TGT.csv"
cos = "COST.csv"

In [344]:
wmt_df = pd.read_csv(wmt, skiprows=2, index_col=0)
amz_df = pd.read_csv(amz, skiprows=2, index_col=0)
tgt_df = pd.read_csv(tgt, skiprows=2, index_col=0)
cos_df = pd.read_csv(cos, skiprows=2, index_col=0)

In [345]:
wmt_df = wmt_df.T
amz_df = amz_df.T
tgt_df = tgt_df.T
cos_df = cos_df.T

In [346]:
wmt_df.reset_index(inplace=True)
amz_df.reset_index(inplace=True)
tgt_df.reset_index(inplace=True)
cos_df.reset_index(inplace=True)

In [347]:
wmt_df = wmt_df.rename(columns={'index':'Date'})
amz_df = amz_df.rename(columns={'index':'Date'})
tgt_df = tgt_df.rename(columns={'index':'Date'})
cos_df = cos_df.rename(columns={'index':'Date'})

In [348]:
wmt_df = wmt_df[:-1]
amz_df = amz_df[:-1]
tgt_df = tgt_df[:-2]
cos_df = cos_df[:-1]

In [349]:
wmt_df['Date'] = pd.to_datetime(wmt_df['Date'],format='%Y-%m').dt.strftime('%Y')
amz_df['Date'] = pd.to_datetime(amz_df['Date'],format='%Y-%m').dt.strftime('%Y')
tgt_df['Date'] = pd.to_datetime(tgt_df['Date'],format='%Y-%m').dt.strftime('%Y')
cos_df['Date'] = pd.to_datetime(cos_df['Date'],format='%Y-%m').dt.strftime('%Y')

In [355]:
wmt_df = wmt_df[['Date', 'Revenue USD Mil','Operating Income USD Mil', 'Net Income USD Mil', 'Shares Mil', 'Earnings Per Share USD']]

,Date,Revenue USD Mil,Operating Income USD Mil,Net Income USD Mil,Shares Mil,Earnings Per Share USD
0,2010,"408,214","23,950","14,335","3,877",3.71
1,2011,"421,849","25,542","16,389","3,670",4.47
2,2012,"446,950","26,558","15,699","3,474",4.52
3,2013,"469,162","27,801","16,999","3,389",5.02
4,2014,"476,294","26,872","16,022","3,283",4.88
5,2015,"485,651","27,147","16,363","3,243",5.05
6,2016,"482,130","24,105","14,694","3,217",4.57
7,2017,"485,873","22,764","13,643","3,112",4.38
8,2018,"500,343","20,437","9,862","3,010",3.28
9,2019,"514,405","21,957","6,670","2,945",2.26

In [102]:
cos_df.reset_index()
cos_df

Date,Revenue USD Mil,Gross Margin %,Operating Income USD Mil,Operating Margin %,Net Income USD Mil,Earnings Per Share USD,Dividends USD,Payout Ratio % *,Shares Mil,Book Value Per Share * USD,...,Key Ratios -> Efficiency Ratios,Efficiency,Days Sales Outstanding,Days Inventory,Payables Period,Cash Conversion Cycle,Receivables Turnover,Inventory Turnover,Fixed Assets Turnover,Asset Turnover
2010-08,"77,946",12.8,"2,077",2.7,"1,303",2.92,0.77,26.4,446,24.98,...,NaN,2010-08,4.03,29.64,30.59,3.07,90.63,12.31,7.02,3.40
2011-08,"88,915",12.6,"2,439",2.7,"1,462",3.30,0.89,26.9,443,27.64,...,NaN,2011-08,3.81,28.82,29.32,3.30,95.92,12.67,7.49,3.52
2012-08,"99,137",12.4,"2,759",2.8,"1,709",3.89,1.03,26.5,439,28.59,...,NaN,2012-08,3.67,28.87,29.11,3.44,99.34,12.64,7.81,3.68
2013-08,"105,156",12.6,"3,053",2.9,"2,039",4.63,1.17,24.6,441,23.98,...,NaN,2013-08,3.87,29.75,30.12,3.50,94.35,12.27,7.84,3.66
2014-08,"112,640",12.6,"3,220",2.9,"2,058",4.65,1.33,28.7,442,27.00,...,NaN,2014-08,3.81,30.31,30.33,3.78,95.90,12.04,7.85,3.56
2015-08,"116,199",13.0,"3,624",3.1,"2,377",5.37,1.51,28.1,443,24.17,...,NaN,2015-08,3.73,31.36,31.60,3.48,97.98,11.64,7.69,3.50
2016-08,"118,719",13.3,"3,672",3.1,"2,350",5.33,1.70,31.2,441,26.30,...,NaN,2016-08,3.81,31.71,29.48,6.03,95.90,11.51,7.32,3.56
2017-08,"129,025",13.3,"4,111",3.2,"2,679",6.08,1.90,32.1,441,22.57,...,NaN,2017-08,3.80,30.67,28.08,6.38,96.14,11.90,7.33,3.71
2018-08,"141,576",13.0,"4,480",3.2,"3,134",7.09,2.14,30.3,442,27.69,...,NaN,2018-08,4.00,30.93,30.89,4.04,91.31,11.80,7.48,3.67
2019-08,"152,703",13.0,"4,737",3.1,"3,659",8.26,2.44,28.9,443,32.94,...,NaN,2019-08,3.83,30.81,31.47,3.17,95.32,11.85,7.53,3.54

In [46]:
wmt_csv = "wmt_csv.csv"
amz_csv = "amzn_csv.csv"
cos_csv = "cost_csv.csv"
tgt_csv = "tgt_csv.csv"
wmt_df = pd.read_csv(wmt_csv)
amz_df = pd.read_csv(amz_csv)
cos_df = pd.read_csv(cos_csv)
tgt_df = pd.read_csv(tgt_csv)

,Date,Revenue USD Mil,Gross Margin %,Operating Income USD Mil,Operating Margin %,Net Income USD Mil,Earnings Per Share USD,Dividends USD,Payout Ratio % *,Shares Mil,Book Value Per Share * USD,Operating Cash Flow USD Mil,Cap Spending USD Mil,Free Cash Flow USD Mil,Free Cash Flow Per Share * USD,Working Capital USD Mil
0,2011-01,67390,30.9,5252,7.8,2920,4.00,0.84,21.0,729,22.00,5271,-2129,3142,4.31,7143
1,2012-01,69865,30.9,5322,7.6,2929,4.28,1.10,25.7,683,23.64,5434,-4368,1066,1.56,2162
2,2013-01,73301,30.4,5210,7.1,2999,4.52,1.32,28.0,663,25.13,5325,-3277,2048,4.27,2357
3,2014-01,72596,29.5,3838,5.3,1971,3.07,1.58,40.6,641,25.56,6520,-3453,3067,4.57,-1204
4,2015-01,72618,29.4,4535,6.2,-1636,-2.58,1.90,76.0,640,25.57,4439,-1786,2653,2.56,2351
5,2016-01,73785,29.5,4910,6.7,3363,5.31,2.16,47.0,632,22.01,5844,-1438,4406,7.18,1508
6,2017-01,69495,29.7,4969,7.2,2737,4.69,2.32,42.1,583,19.90,5436,-1547,3889,5.70,-718
7,2018-01,71879,28.9,4312,6.0,2934,5.29,2.44,50.9,550,20.49,6923,-2533,4390,8.35,-637
8,2019-01,75356,29.3,4110,5.5,2937,5.51,2.52,41.7,533,21.23,5973,-3516,2457,5.00,-2495
9,2020-01,78112,29.8,4658,6.0,3281,6.36,2.60,41.4,516,22.78,7117,-3027,4090,6.67,-1585

In [47]:
wmt_df = wmt_df.dropna(axis=1, how='any')
amz_df = amz_df.dropna(axis=1, how='any')
cos_df = cos_df.dropna(axis=1, how='any')
tgt_df = wmt_df.dropna(axis=1, how='any')

In [48]:
wmt_df['Date'] = pd.to_datetime(wmt_df['Date'],format='%Y-%m').dt.strftime('%Y')
amz_df['Date'] = pd.to_datetime(amz_df['Date'],format='%Y-%m').dt.strftime('%Y')
tgt_df['Date'] = pd.to_datetime(tgt_df['Date'],format='%Y-%m').dt.strftime('%Y')
cos_df['Date'] = pd.to_datetime(cos_df['Date'],format='%Y-%m').dt.strftime('%Y')

In [50]:
tgt_df

,Date,Revenue USD Mil,Gross Margin %,Operating Income USD Mil,Operating Margin %,Net Income USD Mil,Earnings Per Share USD,Dividends USD,Shares Mil,Operating Cash Flow USD Mil,Cap Spending USD Mil,Free Cash Flow USD Mil,Working Capital USD Mil
0,2010,408214,25.4,23950,5.9,14335,3.71,1.09,3877,26249,-12184,14065,-7230
1,2011,421849,25.3,25542,6.1,16389,4.47,1.21,3670,23643,-12699,10944,-6591
2,2012,446950,25.0,26558,5.9,15699,4.52,1.46,3474,24255,-13510,10745,-7325
3,2013,469162,24.9,27801,5.9,16999,5.02,1.59,3389,25591,-12898,12693,-11878
4,2014,476294,24.8,26872,5.6,16022,4.88,1.88,3283,23257,-13115,10142,-8160
5,2015,485651,24.8,27147,5.6,16363,5.05,1.92,3243,28564,-12174,16390,-1994
6,2016,482130,25.1,24105,5.0,14694,4.57,1.96,3217,27389,-11477,15912,-4380
7,2017,485873,25.6,22764,4.7,13643,4.38,2.00,3112,31530,-10619,20911,-9239
8,2018,500343,25.4,20437,4.1,9862,3.28,2.04,3010,28337,-10051,18286,-18857
9,2019,514405,25.1,21957,4.3,6670,2.26,2.08,2945,27753,-10344,17409,-15580